<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application>

    <activity
      android:name=".barcode.BarcodeScanActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:exported="false"
      android:screenOrientation="portrait" />

  </application>

</manifest>
